*{
    padding: 0%;
    margin: 0%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.root.light{
    --accent-color: #fff;
    --base-color: #fff;
    --tertiary-color: ;
    --highlight-color: ;
    --text-color: black;

    background-color: var(--base-color);
    height:100vh;
}

.root.dark{
    --accent-color: #21222A;
    --base-color: #282D35;
    --tertiary-color: ;
    --highlight-color: ;
    --text-color: #fff;
    background-color: var(--base-color);
    height:100vh;
}

body{
    height: 100px;
}

.header{
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.right{
    display: flex;
    align-items: center;
    gap:5px;
}

.header i{
    font-size:30px;
    color: #00D8FF;
}

.header h1{
    font-size: 22.25px;
    color: #61DAFB;
    font-weight: 700;
}

.header h3{
    color:#DEEBF8;
    font-size: 16px;
    font-weight: 600;
}

.content{
    padding:50px 25px;
    color: var(--text-color);
    background-image: url(./images/react-logo-bg.png);
    background-repeat:no-repeat;
    background-position: right 75%;
}

.content h1{
    font-size:40px;
    font-weight:700;
    margin-bottom: 20px;
    letter-spacing: -0.05em;
}

.content ul{
    margin-left: 30px;
}

.content ul li{
    padding-block:10px;
    font-weight:400;
    font-size:16px;
}

.content ul li::marker{
    color: #61DAFB;
    font-size:1.4rem;
}

.left{
    display: flex;
    align-items: center;
    gap:8px;
    color:var(--text-color);
}




.check {
position: relative;
background: var(--text-color);
line-height: 0;
font-size: 21.25px; 
}

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after {
appearance: none;
display: inline-block;
font-size: inherit;
border-radius: 0.85em; 
border: 0;
transition: .25s ease-in-out;
box-sizing: border-box;
cursor: pointer;
}

.check {
appearance: none;
display: inline-block;
border-radius: 0.85em; 
border: 0;
transition: .25s ease-in-out;
box-sizing: border-box;
cursor: pointer;
}

.check label {
width: 1.87em;    
height: 0.85em; 
background: var(--text-color);
overflow: hidden;
}

.check input[type="checkbox"] {
position: absolute;
z-index: 1;
width: 0.68em;    
height: 0.68em;   
top: 0.09em;   
left: 0.09em;   
background: var(--base-color);
box-shadow: 0 5.1px 5.95px rgba(0,0,0,0.3);  
outline: none;
}

.check input[type="checkbox"]:checked {
left: 1.105em;
}

.check input[type="checkbox"]:checked + label {
background: transparent;
}

.check label::before,
.check label::after {
content: "· ·";
position: absolute;
overflow: hidden;
left: 0.425em;    
top: 0.375em;   
height: 0.85em;   
letter-spacing: -0.034em;   
color: #9b9b9b;
font-family: "Times New Roman", serif;
z-index: 2;
font-size: 0.51em;    
border-radius: 0;
transform-origin: 0 0 -0.425em;
backface-visibility: hidden;
}

.check label::after {
content: "?";
top: 0.5275em;     
left: 0.51em;     
height: 0.085em;     
width: 0.2975em;     
font-size: 0.17em;    
transform-origin: 0 0 -0.34em;
}

.check input[type="checkbox"]:checked + label::before,
.check input[type="checkbox"]:checked + label::after {
left: 2.1675em;     
top: 0.34em;     
line-height: 0.085em;  
transform: rotateY(360deg);
}

.check input[type="checkbox"]:checked + label::after {
height: 0.136em;     
top: 0.4725em;  
left: 2.21em;
font-size: .45em;
 line-height: 0;

}